body {
	background-color: orange;
}
#playground {
	border: 5px dotted black;
	color: blue;
}

.child {
	background-color: slategray;
}
li {
	border-bottom: 3px solid tomato;
}
#playground > h1 {
	color: purple;
}
div.child ~ p {
	background-color: green;
}
#playground {
	display: none;
}
h1 {
	font-family : Metamorphous;
}